spring:
  config:
    import: optional:configserver://localhost:8761
    mail:
      host: smtp.gmail.com
      port: 587
      username: fotodummy2@gmail.com
      password: vfpmfcpplwmxepya
      properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true
              required: false

    data:
      mongodb:
        uri: "mongodb://localhost:27017"
        database: avatar-service-db
        host: localhost
        port: 27017

  eureka:
    client:
      register-with-eureka: true
      fetch-registry: true
      service-url:
        defaultZone: http://localhost:8761/eureka/
      instance:
        hostname: localhost